@use "../abstracts/variables" as vars;

.btn-event {
  position: absolute;
  bottom: 0;
  margin: 0px 30px -20px 0px;
  right: 0;
  width: 90px;
  height: 35px;
  border-radius: 10px;
  transition: all 0.1s ease-in;
}

.btn-event-unread {
  background-color: vars.$primary-color;
  color: vars.$secondary-color;
  font-family: vars.$text-font-family;
  cursor: pointer;
}

.btn-event-read {
  pointer-events: none;
  border: solid vars.$primary-color 3px;
  background-color: vars.$secondary-color;
  color: black;
  font-family: vars.$text-font-family;
  font-weight: bold;
}

.btn-event:hover {
  background-color: vars.$terciary-color;
}
