@use "../abstracts/variables" as vars;

.App {
  margin: clamp(50px, 8vw, 150px) auto;
  width: 60vw;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line-events {
  width: 150px;
  height: 5px;
  border-radius: 5px;
  background-color: vars.$primary-color;
}

.events {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 200px;
  margin-top: clamp(30px, 5vw, 50px);

  span {
    margin-top: 120px;
    height: 200px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    h1 {
      position: relative;
      color: vars.$loading-color;
    }

    h1:before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      color: vars.$primary-color;
      overflow: hidden;
      animation: animateload 3.5s linear forwards;
    }
  }
}

@keyframes animateload {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.loading-text {
  color: vars.$primary-color;
}

.logo-image {
  width: 35px;
}

.event {
  position: relative;

  box-shadow: vars.$default-box-shadow;
  margin: 40px 0rem;
  padding: 30px 30px;
  border-radius: 10px;
  border: solid vars.$primary-color 4px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.event-unread {
  background-color: vars.$secondary-color;
}

.event-read {
  transition: all 0.2s ease-in;
  color: vars.$secondary-color;
  background-color: vars.$primary-color;
}

.event-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.event-description {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0, 1, 0, 1);
  text-align: left;
}

.show {
  margin-top: 1rem;
  height: auto;
  max-height: 9999px;
  transition: all 0.3s cubic-bezier(1, 0, 1, 0);
}

@media screen and (max-width: 800px) {
  .App {
    width: 90vw;
  }
}
