@use "../abstracts/variables" as vars;

.text-regular {
  font-family: vars.$text-font-family;
  font-weight: 400;
}

.text-bold {
  font-family: vars.$text-font-family;
  font-weight: 700;
}

.large-text {
  font-size: 3rem;
}

.normal-text {
  font-size: 2rem;
}

.small-text {
  font-size: 1.33rem;
}

@media screen and (max-width: 800px) {
  .large-text {
    font-size: 2.5rem;
  }

  .normal-text {
    font-size: 1.11rem;
  }

  .small-text {
    font-size: 1rem;
  }
}
