.fade-out {
  animation: animatefadeOut 0.5s linear forwards;
}

.fade-in {
  animation: animatefadeIn 0.5s linear forwards;
}

@keyframes animatefadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animatefadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
