//Font Family
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

/// Regular font family
/// @type List
$text-font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

//Default Colors
/// @type Color
$primary-color: rgb(51, 57, 255) !default;
$secondary-color: rgb(255, 255, 255);
$terciary-color: rgb(37, 45, 154);
$loading-color: rgb(188, 190, 255);

//Default box-Shadows
/// @type boxShadow
$default-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
